@import 'bourbon/_bourbon.scss';

// Variables

$helvetica : 'Helvetica Neue Light', 'Helvetica-Neue-Light', 'HelveticaNeueLight', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
$opensans : 'Open Sans', $helvetica;
$twitter : #56A0D8;
$pinterest : #CA2026;
$gray : #F0F1F2;
$yellow : #F9E400;
$green : #22a301;
$text-color : #1E1C1D;

//Mixins
@mixin center {
	position: absolute;
	top:50%;
	left:50%;
	@include transform(translate(-50%,-50%));
}

@mixin stretch {
	width:100%;
	height:100%;
}

@mixin centerLeft {
	position: absolute;
	top:50%;
	left:0;
	@include transform(translate(0%,-50%));
}

@mixin centerRight {
	position: absolute;
	top:50%;
	right:0;
	@include transform(translate(0%,-50%));
}

@mixin centerHorizontal {
	position: absolute;
	left:50%;
	@include transform(translate(-50%, 0%));
}

@mixin centerVertical {
	position: relative;
	top:50%;
	@include transform(translateY(-50%));
}

@mixin triangle($direction, $color) {
	//for the longer border length, add the two shorter together
	// and find 86.66% of that sum, and use it.

	border-style: solid;
	@if $direction == left {
		border-width: 18px 31.2px 18px 0;
		border-color: transparent $color transparent transparent;
	}
	@else if $direction == right {
		border-width: 18px 0 18px 31.2px;
		border-color: transparent transparent transparent $color;
	}
	
}

@mixin breakpoint($point) {
	@if $point == small {
    	@media (max-width: 500px) { @content; }
	}
	@else if $point == mobile {
		@media (max-width: 1050px) { @content; }
	}
	@else if $point == medium {
    	@media (max-width: 1250px) { @content; }
	}
	@else {
		@media (max-width: $point) { @content; }
	}
  
}

@mixin stretchpoint($point) {
	@media (min-width: $point) { @content; }
}

@mixin change {
	@include transition(all .15s ease);
}

//helpers

.bold {
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase;
}

.regular {
	font-weight: normal;
}

.center {
	@include center;

}

.faded {
	opacity: .3;
}
.green {
	color:$green;
}

.clear {

	clear:both;

}
.highlight {
	// background-color: #F7EC37;
	// background-color: yellow;
	border-radius: 10px;
	// display: inline-block;
	line-height: 1rem;

	@include transition(all .2s linear);
}

html, body {

	background-color: $gray;
	overflow:hidden;
	-webkit-overflow-scrolling: touch;
	
}


.container {

	width:100%;
	height:100%;
	overflow: scroll;
	position: relative;
	z-index: 2;
	// background-color: white;
	-webkit-overflow-scrolling: touch;

}

.hero {
	width:100%;
	height:100%;
	overflow: hidden;
	position: relative;

	@include breakpoint(medium) {
		background-image: url(../img/gold.jpg);
		background-size: cover;
		// background-attachment: fixed;
	}

}


.video-container {

	background-color: white;
	// @include center;
	background-image: none;
	top:0;
	left:0;
	overflow: hidden;
	position: fixed;
	z-index: 1;
	height:100%;
	width:100%;

	@include stretchpoint(400px) {
		width:100%;
		height:100%;
		

	}

	

	#walkthrough-video {
		width:100%;
		// position: fixed;

		@include breakpoint(medium) {
			display: none;
		}
		
	}

}

.hero-content-container {
	position: absolute;
	left:70px;
	bottom: 30%;
	// bottom:-100px;
	width:37%;
	font-family: $opensans;
	color:white;
	// @include transition(bottom .2s ease);

	@include breakpoint(small) {
		width:75%;
		left:35px;
		bottom: 15%;
	}

	p {
		margin-bottom: 20px;
	}

	.heading {
		font-size: 2.3rem;

		@include breakpoint(small) {
			font-size: 1.5rem;
		}
	}

	.sub-heading {
		font-size: 1.5rem;
	}

	.read-more-button {
		width:175px;
		height:45px;
		border:solid 1px white;
		display: table;
		margin-bottom: 15px;
		color:white;
		cursor: pointer;
		@include transition(all .15s linear);

		&:hover {
			background-color: white;

			color:black;
		}		

		p {
			display: table-cell;	
			text-align: center;
			vertical-align: middle;
			

		}
	}

	#video-button {
		display: none;

		@include breakpoint(small) {
			display: table;
		}
	}

}

//Paragraph section styles

.paragraphs-background {
	background-color: white;
	width:100%;
	height:auto;
	overflow: auto;
	overflow-x:hidden; 
}

.paragraph-section {
	background-color: white;
	// width:43%;
	width:826px;
	position: relative;
	margin:75px auto;

	@include breakpoint(856px) {
		width:75%;
	}

	@include breakpoint(small) {
		width:75%;
	}

	h2 {
		font-family: $opensans;
		color:$text-color;
		font-size: 2.5rem;
		font-weight: 300;
		margin: 60px 0 20px 0;
		letter-spacing: -1px;
		line-height: 3rem;

		@include breakpoint(small) {
			font-size: 1.5rem;
			line-height: 2rem;
			margin:30px 0 15px 0;
		}
	}
	

	p {
		font-family: $opensans;
		color:$text-color;
		font-size: 1.1rem;
		font-weight: normal;
		margin-bottom: 20px;

		@include breakpoint(small) {
			font-size: 1rem;
		}

	}

	.paragraph-image-container {
		width:100%;
		height:auto;
		position: relative;
		margin:50px auto 50px auto;

		

		.share-title {
			@include center;
			width:300px;
			display: none;

			@include breakpoint(small) {
				width:75%;
			}

		}

		@include breakpoint(mobile) {
			margin-bottom: 20px;
		}
	}

	img {
		width:100%;
		display: block;
		

		
	}

	.paragraph-twitter {
		color:#979A9D;

		&:hover {
			color:$twitter;
		}

		@include breakpoint(mobile) {
			color:$twitter;
		}
	}

	.image-description {
		display: block;
		margin:0 auto;
		text-transform: uppercase;
		text-align: center;
		font-family: $opensans;
		color:gray;
		font-size: 1.1rem;
		font-weight: normal;
	}


}


.paragraphs-section-progress {

	position: fixed;
	right:10px;
	bottom: 10px;
	font-family: $opensans;
	font-size: 2rem;
	font-weight: 300;
	color:black;
	display: none;

	@include breakpoint(small) {
		font-size: 1rem;
		right:5px;
		bottom: 5px;
	}

}



// Grid Styles
$padding : 16px;
$padding-half : $padding / 2;


.grid-container {
	position: relative;
	width:94%;
	// height:100%;
	height:auto;
	margin:0 auto;
	// border:solid black thin;
	margin-top: $padding-half;
	overflow: visible;

	.active {
		background-color: #AEAEAE;
		background-size: cover;
		background-position: center;
		cursor: pointer;

	}
}

.large {
	position: relative;
	// width:33.333%;
	// width: calc(100%/3);
	width:100%;
	height:100%;
	background-color: gray;
	float:left;

	// @include box-sizing(border-box);
	// background-clip:content-box;
	// padding: $padding-half;

	.flag {
		width:50%;

	}

}

.large-holder-single {
	// @include box-sizing(border-box);
	// background-clip:content-box;
	// padding: $padding-half;
}

.small-holder-single {
	// @include box-sizing(border-box);
	// background-clip:content-box;
	// padding: $padding-half;
}

.large-holder {
	// width:33.333%;
	// width: 33.333%;

	float:left;
	@include box-sizing(border-box);
	background-clip:content-box;
	padding: $padding-half;

}

.small-holder {
	width:50%;
	float:left;
	@include box-sizing(border-box);
	background-clip:content-box;

}

.small {
	position: relative;
	width:100%;
	height:100%;
	float:left;
	@include box-sizing(border-box);
	background-clip:content-box;
	// padding: $padding-half;

	.flag {
		width:100%;
	}
}

.spacer {
	width:50%;
}

.q1 {
	float:none;
	padding: 0 $padding-half $padding-half 0;
}

.q4 {
	float:right;
	padding: $padding-half 0 0 $padding-half
}



.icon-container {

	position: absolute;
	right:$padding;
	bottom: $padding;

}

.square {

	.share-title {
		@include center;
		display: none;

		@include breakpoint(small) {
			width:75%;
		}

	}

}

.large-holder {

	.share-title {

		width:300px;

	}

}

.small-holder {

	.share-title {

		width: 150px;

	}

}




.photo-present-container {

	position: absolute;
	left:110%;
	top:0;
	width:80%;
	// height:90vh;

	img {

		width:100%;
		// height:100%;


	}

}


	
.share-icon {

	&:last-of-type {

		i {
			bottom:50px;
		}

	}

	&:first-of-type {
		
		i {
			bottom: 10px;
		}

	}

	

	i {

		position: absolute;
		display: block;
		z-index: 9;
		color:white;
		font-size: 2.2rem;
		cursor: pointer;
		right:10px;
	}

	@include breakpoint(small) {
		display: none;
	}

}

.share-fill-container {
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	overflow: hidden;
	// background-color: red;

	.share-fill {
		position: absolute;
		border-radius: 50%;
		width:1400px;
		height:1400px;
		// bottom-55%;
		// right:-55%;
		left:96%;
		top:96%;
		@include transform(translate(-50%,-50%) scale3d(0.001,0.001,1));
		// padding-bottom: 50%;
		// @include transform(scale3d(0.001,0.001,1));
		@include transform-origin(center center);
		//@include transform(scale(1, 1));
		@include transition(all .4s ease);
		// background-color: red;
		-webkit-backface-visibility: hidden;
	}

	.share-fill-twitter {
		background-color: $twitter;
	}

	.share-fill-pinterest {
		background-color: $pinterest;
	}

	.share-fill-enlarge {
		@include transform(translate(-50%,-50%) scale3d(1.8, 1.8, 1));
	} 

	
}



.flag {
	// background-color: black;
	@include box-sizing(border-box);
	background-clip:content-box;
	color:gray;
	
}

.flag-top-right {
	position: absolute;
	left: 100%;
	padding: 0 $padding $padding $padding;
}

.flag-top-left {
	position: absolute;
	right: 100%;
	padding: 0 $padding $padding $padding;
	text-align: right;
	overflow: auto;
	
	.flag-bar {
		float:right;
	}

	p {
		float:right;
	}

}

.flag-bottom-left {
	position: absolute;
	right:100%;
	bottom:0;
	padding: 0 $padding $padding $padding;
	text-align: right;
	overflow: auto;

	.flag-bar {
		float:right;
		margin-top: $padding;
	}

	p {
		float:right;
	}

	.flag-bottom-content-container {
		width:100%;
		position: absolute;
		@include box-sizing(border-box);
		padding: 0 $padding 0 $padding;
		bottom: 0;
		right:0;
	}

}

.flag-bar {
	width: 60%;
	background-color: gray;
	height:1px;
}

.flag-title {
	font-family: $helvetica;
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: $padding-half;
	margin-bottom: $padding-half /2 ;
}

.flag-content {
	font-family: $helvetica;
	font-weight: .9rem;
	font-weight: 200;
}



.svg-container {
	z-index: 100;
	position: fixed;
}



.hamburger {
	position: fixed;
	z-index: 9;
	top:15px;
	left:15px;
	width:33px;
	height:18px;
	cursor:pointer;

	@include breakpoint(small) {
		top:15px;
		left:7px;
		width:27px;
		height:15px;
		
	}


	.patty {
		width:100%;
		height:2px;
		background-color: white;
		border-radius: 500px;
		@include transition(all .15s ease);

		&:first-child {
			position: absolute;
			top:0;
			left:0;
		}

		&:nth-child(2) {
			@include center;
		}

		&:last-child {
			position: absolute;
			bottom: 0;
			left: 0;
		}

	}	

	.dark {
		background-color: black;
	}

	.tilt-up {
		@include transform(rotate(45deg));
		width:70%;
	}

	.tilt-down {
		@include transform(rotate(-45deg));
		width:70%;
	}

}

nav {
	position: fixed;
	top:55px;
	left:15px;	

	ul {

		li {
			font-family: $opensans;
			font-size: 1.4rem;
			margin-bottom: 20px;
		}

	}

	.viewing {
		color:gray;
	}

}

.sidebar-info {
	position: fixed;
	left:15px;
	bottom:15px;

	.version-info {
		font-family: $opensans;
		font-size: 1.4rem;
		margin-bottom: 10px;
	}

	.fine-print {
		font-family: $opensans;
		font-size: .6rem;
	}
}

.arrow-down {
	@include center;
	top:97.5%;

	img {
		width:40px;

		@include breakpoint(mobile) {
			width:32px;
		}
	}


}

.twitter-share-video-text {
	@include center;
	width:400px;
	display: none;
	z-index: 6;
}

.twitter-share-video-overlay {
	background-color: $twitter;
	width:2000px;
	height:2000px;
	position: absolute;
	top:35%;
	left:50%;
	z-index:4;
	@include transform(scale3d(0.001,0.001,1));
	@include transition(all .4s ease);
	border-radius: 50%;

}

.twitter-share-video-overlay-enlarge {
	@include transform(scale3d(3, 3, 1));
}

.twitter-share-video {

	position:absolute;
	bottom:15px;
	right:15px;
	z-index: 8;

	i {
		display: block;
		color:white;
		font-size: 2.2rem;
		margin-top: 7px;
	}

	@include breakpoint(mobile) {
		display: none;
	}

}


.footer-container {
	width:100%;
	height: 500px;
	position: relative;
	overflow: hidden;
	background-color: white;

	@include breakpoint(mobile) {
		overflow: auto;
		height:auto;
		position: static;	
	}

	img {
		width:300px;
		display: block;
		margin:0px auto 15px auto;

		@include breakpoint(mobile) {
			width:200px;
		}
	}

	.image-description {
		display: block;
		margin:0 auto;
		text-transform: uppercase;
		text-align: center;
		font-family: $opensans;
		color:gray;
		font-size: 1.1rem;
		font-weight: normal;

		@include breakpoint(mobile) {
			margin-bottom: 20px;
			font-size: 1rem;
			width:85%;
		}
	}


}


.footer {
	position: fixed;
	width:100%;
	height:500px;
	background-color: $gray; 
	bottom: 0;
	@include transform(translateY(500px));
	// z-index:-9;
	pointer-events:none;
	
	.tagline {

		font-family: $opensans;
		font-size: 1.25rem;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 17px;
	}

	.form-container {
		float:left;
		// background-color: gray;
		margin:50px 60px;
		// @include box-sizing(border-box);

		@include breakpoint(mobile) {
			float:none;
			margin: 50px 40px;
		}

	}

	.call-to-action {
		float:right;
		margin:80px 60px;
		// background-color: gray;
		text-align: right;
		font-family: $opensans;

		.letter-tape {
			background-color: black;
			color:white;
			font-size: 3rem;
			text-align: right;
			display: inline-block;
			margin-bottom: 10px;
			font-weight: 300;

			@include breakpoint(mobile) {
				font-size: 2rem;
				text-align: center;
			}
		}

		p:last-child {
			font-size: 2.2rem;
			font-weight: 300;
			margin-top: 30px;

			@include breakpoint(mobile) {
				font-size: 1.8rem;
			}
		}

		@include breakpoint(mobile) {
			float:none;
			text-align: center;
			margin:50px auto 200px auto;
		}
	}

	@include breakpoint(mobile) {
		position: relative;
		height:auto;
		overflow: auto;
		@include transform(translateY(0px));
	}

}

.success-overlay {

	position: fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color: $yellow;
	color:white;
	font-family: $opensans;
	text-align: center;
	z-index: 2;

	div {
		width:30%;
		top:45%;

		@include breakpoint(mobile) {
			width:80%;
		}
	}

	.heading {
		text-align: center;
		font-size: 4rem;
		font-weight: 300;

		@include breakpoint(mobile) {
			font-size: 2rem;
		}
	}

	.sub-heading {
		font-size: 1.5rem;
		font-weight: 400;
		text-align: center;

		@include breakpoint(mobile) {
			font-size: 1rem;
		}
	}

	.choices {
		font-size: 6rem;
		text-align: center;
		font-weight: 300;

		@include breakpoint(mobile) {
			font-size: 3rem;
		}

		span {
			cursor:pointer;
		}
	}

}

form {

	pointer-events:auto;

}

.inputs {

	outline: none;
	border:none;
	font-size: 3rem;
	font-family: $opensans;
	font-weight: 300;
	border-bottom: solid 1px black;
	width:500px;
	background-color: transparent;
	border-radius: 0;
	box-shadow:none;

	@include placeholder {
		color:black;
	}

	@include ellipsis;

	@include breakpoint(mobile) {
		width:100%;
		font-size: 1.5rem;
		margin-top: 10px;
	}

	&:focus {
		@include placeholder {
			color:gray;
		}
	}

}

.email-input {

	float: left;
	outline: none;
	border:none;
	font-size: 2.1rem;
	width:250px;
	font-family: $opensans;
	font-weight: 300;
	background-color: transparent;
	box-shadow: none;
	@include appearance(none);

	@include placeholder {
		color:black;
	}

	@include breakpoint(mobile) {
		width:100%;
		font-size: 1.5rem;
		margin-bottom: 20px;
		border-radius: 0;
		margin-top: 10px;
		border-bottom: solid 1px black;

	}

	&:focus {
		@include placeholder {
			color:gray;
		}
	}

}

.submit-line {
	margin-top: 50px;

	@include breakpoint(mobile) {
		margin-top: 0px; 
	}

}

button {
	position: relative;
	font-family: $opensans;
	float:right;
	display: block;
	@include appearance(none);
	border:none;
	background-color: $yellow;
	width:230px;
	height:45px;
	color:white;
	padding: 0;
	@include align-items(initial);
	font-weight: 700;
	font-size: 1.8rem;
	cursor:pointer;

	span {
		font-weight: 400;
	}


	&:before {
		content:"";
	    position:absolute;
	    top:0;
	    left:0;
	    width: 0;
	    height: 0;
	    border-top: 45px solid $gray;
	    border-right: 20px solid transparent;

	    @include breakpoint(mobile) {
	    	display: none;
	    }
	}

	.slanted-line {
		position: absolute;
		height:50%;
		width:1px;
		background-color: black;
		top:7px;
		left:10px;

		@include transform(rotate(25deg));

		@include breakpoint(mobile) {
			display: none;
		}
	}

	&:focus {
		outline:none;
	}

	@include breakpoint(mobile) {
		float:none;
		width:100%;
		// margin-top: 20px;
	}
}

.footer-links {
	position: absolute;
	bottom: 30px;
	overflow: auto;
	font-size: .8rem;
	font-family: $opensans;
	width:100%;
	padding:0 60px;
	@include box-sizing(border-box);
	pointer-events:auto;

	p:first-child {
		float:left;

		a {
			&:hover {
				text-decoration: underline;
			}


		}

	}

	p:last-child {
		float:right;

		@include breakpoint(mobile) {
			float:left;
		}
	}

	@include breakpoint(mobile) {
		font-size: .7rem;
	}
}


.back-to-top {
	position: fixed;
	z-index: 6;
	top:15px;
	right:7px;
	width: 30px;
	@include transform(rotate(180deg));
	display: none;
}


// Information section styles.


.info-body, .info-html {
	background-color: $gray;
	width:100%;
	overflow-x:hidden;
	overflow-y:scroll !important;
	// height:auto;
	// overflow: auto;

	nav {
		// z-index: -2;
		top:80px;

		ul {

			li {
				font-size: 1.2rem;
			}

		}
	}
}


.info-nav {
	background-color: #EBEBEC;
	width:100%;
	height:100px;
	position: relative;
	z-index: 9;

	@include breakpoint(mobile) {
		height:50px;
	}

	ul {
		margin:0 auto;
		@include center;
		list-style:none;
    	white-space: nowrap;

    	@include breakpoint(mobile) {
    		display: none;
    	}
	}

	li {
		display: inline;
		font-family: $opensans;
		color:#979A9D;
		font-size: 1.1rem;
		margin: 0 40px;
		text-transform: uppercase;

		a {
			color:#979A9D;

			&:hover {
				font-weight: bold;
			}

		}
	}

}


.info-container {
	width:100%;
	height:auto;
	background-color: white;
	position: relative;
	z-index: 12;
	min-height: 100%;
}

.info-header {
	font-family: $opensans;
	color: gray;
	font-size: 1.5rem;
	@include center;
	top:47.5%;
	left:120px;
	text-align: left;	
	display: none;
	font-weight: bold;

	@include breakpoint(mobile) {
		display: block;
	}
}

.info-hamburger {
	position: fixed;
	z-index: 777;
	width:33px;
	height:18px;
	cursor:pointer;

	display: none;

	@include breakpoint(small) {
		top:15px;
		left:7px;
		width:27px;
		height:15px;
		display: block;
		
	}

	


	.patty {
		width:100%;
		height:2px;
		background-color: black;
		border-radius: 500px;
		@include transition(all .15s ease);

		&:first-child {
			position: absolute;
			top:0;
			left:0;
		}

		&:nth-child(2) {
			@include center;
		}

		&:last-child {
			position: absolute;
			bottom: 0;
			left: 0;
		}

	}	

	.dark {
		background-color: black;
	}

	.tilt-up {
		@include transform(rotate(45deg));
		width:70%;
	}

	.tilt-down {
		@include transform(rotate(-45deg));
		width:70%;
	}

}

.temp-message {
	@include center;
	left:40%;
	top:30%;
	font-family: $opensans;
	font-weight: 300;
	font-size: 2.5rem;
	line-height: 2.7rem;
	z-index: 99999;

	p:first-child {
		color:#979A9D;
	}

	p:last-child {
		//color:darken($gray, 10%);

		@extend .email;
	}

	@include breakpoint(mobile) {
		@include center;
		top:120px;
		font-size: 1.7rem;
	}

}

.gear-container {
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	overflow: hidden;

}

.gear-1 {
	position: absolute;
	top:43%;
	left:-5%;
	width:22%;
	@include animation(gearSpinForward 20s linear infinite);

	@include breakpoint(mobile) {
		display: none;
	}

}

.gear-2 {
	position: absolute;
	top:73%;
	left:10%;
	width:25%;
	@include animation(gearSpinBackward 20s linear infinite);
	@include breakpoint(mobile) {
		display: none;
	}
}

.gear-3 {
	position: absolute;
	top:53%;
	left:34%;
	width:33%;
	@include animation(gearSpinForward 20s linear infinite);

	@include breakpoint(mobile) {
		top:80%;
		left:-10%;
		width:50%;
	}
}

.gear-4 {
	position: absolute;
	top:38%;
	left:65%;
	width: 35%;
	@include animation(gearSpinBackward 20s linear infinite);

	@include breakpoint(mobile) {
		top:60%;
		left:35%;
		width:70%;
	}
}

.gear-5 {
	position: absolute;
	top:13%;
	left:90%;
	width:18%;
	@include animation(gearSpinForward 20s linear infinite);
	
	@include breakpoint(mobile) {
		top:40%;
		left:75%;
		width:35%;
	}

}




@include keyframes(gearSpinForward) {
	100% {
		@include transform(rotate(360deg));
	}
}

@include keyframes(gearSpinBackward) {
	100% {
		@include transform(rotate(-360deg));
	}
}


.privacy-content {
	width:780px;
	margin:0px auto;
	padding:70px 0;
	

	h2 {
		font-family: $opensans;
		font-weight: 300;
		font-size: 2.5rem;
		color:darken($gray, 10%);
		margin-bottom: 20px;

		@include breakpoint(mobile) {
			font-size: 1.5rem;
		}
	}

	p {

		font-family: $opensans;
		font-weight: 400;
		font-size: 1rem;
		color:#979A9D;
		margin-bottom: 20px;

	}

	@include breakpoint(mobile) {
		width:100%;
		padding: 40px;
		@include box-sizing(border-box);
		margin:0;
	}
}

.email {
	font-weight: 300;
	font-size: 2.5rem;
	color:darken($gray, 10%);
	@include transition(all .25s linear);

	&:hover {
		color:$green;
	}

	@include breakpoint(mobile) {
		font-size: 1.75rem;
	}
}

.giving-container {

	width:1000px;
	height:auto;
	margin:50px auto 0px auto;
	padding-bottom: 50px;
	overflow: auto;

	@include breakpoint(mobile) {
		width:100%;
		margin-top: 0;
	}


	.column-left {
		float:left;
		width:40%;
		padding: 0 20px 0 0;
		@include box-sizing(border-box);

		h2 {
			font-family: $opensans;
			font-weight: 400;
			font-size: 2.2rem;
			line-height: 2.75rem;
			color:$green;
			margin-bottom: 20px;
		}

		p {
			font-family: $opensans;
			font-weight: 400;
			font-size: 1.1rem;
			color:#979A9D;
			margin-bottom: 20px;
		}

		@include breakpoint(mobile) {
			width:100%;
			padding: 40px;
			float:none;
		}
	}

	.column-right {
		width:42%;
		float:right;
		position: relative;
		// padding: 0 0 0 70px;
		// @include box-sizing(border-box);

		@include breakpoint(mobile) {
			@include box-sizing(border-box);
			width:100%;
			padding: 40px;
			float:none;
		}


		.form_style {
			width:100%;
			height:auto;
			overflow:auto;
			// position:absolute;
			// left:50%;
			// top:50%;
			// margin:-300px 0 0 -450px;
		}
		.form_style p{
			
			// width:400px;
			width:auto;
			height:40px;
			margin-bottom:20px;


			@include breakpoint(mobile) {
				width:100%;
			}

		}
		.form_style label:not(#exp) {
			display:none;
		}
		#exp {
			border:none;
		}
		label {
			font-family:$opensans;
			font-weight: 100;
			letter-spacing: 1px;
			font-size:25px;
			border-bottom:solid gray thin;
			padding-bottom:2px;
		}
		.form_style input{
			background-color:rgba(0,0,0,0);
			border:none;
			border-bottom: solid gray thin;
			-webkit-transition:all ease-in-out .2s;
			-moz-transition:all ease-in-out .2s;
			color:black;
			width:100%;
			font-size:2.2rem;
			font-family:$opensans;
			font-weight: 100;
			letter-spacing: -1px;
			border-radius: 0px;

			@include breakpoint(mobile) {
				font-size: 1.5rem;
			}
		}
		.form_style input:focus {
			/*background-color:rgba(255,255,255,.5);*/
			outline:none;
		}
		#submit_button {
			border: solid $green thin;
			background-color: $green;
			width:100%;
			height:55px;
			// float:right;
			font-size:2rem;
			font-weight:100;
			// float:right;
			// margin-top:-105px;
			cursor:hand;
			color:white;
			border-radius: none;
			@include appearance(none);
		}

		/*NAME*/
		.give-name {
			float:left;	
			width:100% !important;	
		}
		/*MAILING ADDRESS*/
		.give-address {
			float: left;
			width:100% !important;
		}
		/*EMAIL ADDRESS */
		.give-email {
			float: left;
			width:100% !important;
		}
		/*CITY*/
		.give-city {
			width:48% !important;
			float:left;
			// margin-left:90px;
			margin-right: 10px;

			@include breakpoint(mobile) {
				width:100% !important;
			}
		}
		/*STATE*/
		.give-state {
			width:48%!important;
			float:left;
			@include breakpoint(mobile) {
				width:100% !important;
			}
		}
		/*CREDIT CARD NUMBER*/
		.give-card {
			width:100% !important;
			float:left;
		}
		/*ZIP CODE*/
		.give-zip {
			float:left;
			width:100% !important;
		}
		/*EXPIRES*/
		.give-expires {
			float: left;
			width:225px;
		}
		/*CVV*/
		.give-cvv {
			float:right;
			// width:150px;
			width: 40% !important;
			// margin-left:25px;

			@include breakpoint(mobile) {
				width:100% !important;
			}
		}
		/*AMOUNT*/
		.give-amount {
			width:100%;
		}
		#amount {
			width:100%;
			font-size:25px;
			font-family:$opensans;
			font-weight:100;
			border-bottom:solid gray thin;
			letter-spacing: 1px;
			clear:both;
			margin-bottom: 5px;
			// text-align:

			@include breakpoint(mobile) {
				font-size: 18px;
			}
		}
		#amount span{
			font-size:15px;
			margin-left:-5px;

			@include breakpoint(mobile) {
				font-size: 8px;
			}
		}
		#expiration_month {
			width:80px;
			text-align: center;
		}
		#expiration_year {
			width:80px;
			text-align: center;
			float:right;
		}
		#city {
			width:100%;
		}
		#state {
			width:100%;
		}
		#cvv {
			width:100%;
			text-align: left;
		}
		#selector {
			width: auto;
			background:transparent;
			font-family:$opensans;
			font-weight:100;
			color:gray;
			font-size:25px;
			-webkit-appearance:none;
			-moz-appearance:none;
			outline:none;
			border-radius:0px;
			border:none;
		}
		#selector:focus {
			outline: none;
			border:none;
		}
		#selector option {
			background:transparent;
			color:gray;
			font-size:25px;
			-webkit-appearance:none;
			-moz-appearance:none;
			text-indent: 0.01px;
		    text-overflow: '';
		}
		.amount_text {
			// position:absolute;
			font-family:$opensans;
			color:gray;
			font-size:15px;
			width:100%;
			float:left;
			height:40px;
			line-height: 100%;
			// top:380px;
			font-weight:100;

			a {
				color:inherit;
			}
		}
		#address_text {
			// position:absolute;
			font-family:$opensans;
			font-size:15px;
			width:auto;
			// top:214px;
			// left:495px;
			font-weight:100;
			width:100%;

		}
		#contribute_text {
			position:absolute;
			font-family:$opensans;
			font-size:15px;
			width:auto;
			left:525px;
			top:385px;
			text-align:center;
			font-weight:100;

		}

		#one-time {
			float:left;
			width:100%;
			color:gray;
			text-decoration: none;
			font-family: $opensans;

			/*-webkit-font-smoothing:antialiased;*/
			letter-spacing: 0px;
		}


	}


}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
   
	.hero-content-container {
		.read-more-button {
			margin-bottom: 0px;
			margin-top: 5px;
		}

		.heading {
			font-size: 1.1rem;
		}
	}
    
}

















